In [2]:
import pandas as pd

In [63]:
df = pd.read_csv("yellow_tripdata_2021-01.csv")

df.columns

C:\Users\raghulkumar.m\AppData\Local\Temp\ipykernel_11912\659651928.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("yellow_tripdata_2021-01.csv")

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge'],
      dtype='object')

In [78]:
len(df)

1369765

In [65]:
df_first_hundred = pd.read_csv("yellow_tripdata_2021-01.csv", nrows=101)

In [66]:
df_first_hundred.tpep_pickup_datetime = pd.to_datetime(df_first_hundred.tpep_pickup_datetime)
df_first_hundred.tpep_dropoff_datetime = pd.to_datetime(df_first_hundred.tpep_dropoff_datetime)

In [10]:
from sqlalchemy import create_engine
from sqlalchemy.exc import OperationalError

db_url = 'postgresql://root:root@localhost:5433/ny_taxi'

engine = create_engine(db_url)

try:
    
    with engine.connect() as connection:
        print("Connection successful!")
except OperationalError as e:
    print(f"Connection failed: {e}")

Connection successful!

In [68]:
print(pd.io.sql.get_schema(df_first_hundred, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [87]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000)

In [88]:
df_chunking_check = next(df_iter)
len(df_chunking_check)

100000

In [89]:
df_chunking_check.to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

1000

In [59]:
# uploading entire dataframe in one go 

# %time df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

In [72]:
from time import time

In [90]:
while True:

    try:
        t_start = time()

        next_df = next(df_iter)

        next_df.tpep_pickup_datetime = pd.to_datetime(next_df.tpep_pickup_datetime)
        next_df.tpep_dropoff_datetime = pd.to_datetime(next_df.tpep_dropoff_datetime)

        # next_df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append", method="multi")
        # method="multi" tells pandas to group multiple INSERT statements into one, which creates very large SQL queries 
        # since the chunk size is 100k, docker crashes 
        next_df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

        t_end = time()

        print("Inserted another chunk, took %.3f second" %(t_end - t_start))

    except StopIteration:
        print("Finished ingesting data into the postgres database")
        break

Inserted another chunk, took 11.703 second
Inserted another chunk, took 11.864 second
Inserted another chunk, took 14.317 second
Inserted another chunk, took 14.576 second
Inserted another chunk, took 14.838 second
Inserted another chunk, took 14.646 second
Inserted another chunk, took 14.701 second
Inserted another chunk, took 14.914 second
Inserted another chunk, took 14.929 second
Inserted another chunk, took 15.615 second
Inserted another chunk, took 14.602 second

C:\Users\raghulkumar.m\AppData\Local\Temp\ipykernel_11912\1762296752.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  next_df = next(df_iter)

Inserted another chunk, took 15.858 second
Inserted another chunk, took 8.995 second
Finished ingesting data into the postgres database

In [6]:
df_zones = pd.read_csv("taxi_zone_lookup.csv")

In [7]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [11]:
df_zones.to_sql(name="zones",con=engine, if_exists="replace")

265